@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    background-color: lightblue;
    display: grid;
    grid-template-columns: 1.1fr 2fr;
    /* box-shadow: 0 35px 55px rgba(0,0,0,0.1); */
}

.container .left-side{
    position: relative;
    background-color: #323b4c;
    padding: 40px;
    /* border-top-left-radius: 30px; */
    /* border-bottom-left-radius: 30px; */
}

.container .right-side{
    position: relative;
    background-color: #fff;
    padding: 40px;
    /* border-top-right-radius: 30px; */
    /* border-bottom-right-radius: 30px; */
}

.profile-text{
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

#pfp{
    width: 100%;
    height: 100%;
    align-self: center;
}

.profile-text h2{
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.profile-text h2 span{
    font-size: 0.8em;
    font-weight: 300;
}

.contact-info{
    padding-top: 40px;
}

.title{
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.contact-info ul{
    position: relative;
}

.contact-links{
    color: white;
    text-decoration: none;
}

.contact-links, .contact-links:visited, .contact-links:hover, .contact-links:active {
    color: white;
}

.contact-info>ul>li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: default;
}

.contact-info ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: lightcoral;
}

.contact-info ul li span{
    color: #fff;
    font-weight: 300;
}

.contact-info.education li{
    margin-bottom: 15px;
}

.contact-info.education h5{
    font-weight: 500;
    color: lightcoral;
}

.contact-info.education h4:nth-child(2){
    font-weight: 500;
    color: #fff;
}

.contact-info.education h4{
    font-weight: 300;
    color: #fff;
}


/* trying */
/* .try {
    /* display: -ms-flexbox; */
    /* display: flex; */
    /* -ms-flex-wrap: wrap; */
    /* flex-wrap: wrap; */
    /* list-style-type: circle; */
    /* padding: 9; */
    /* margin: 0; */
    /* width: 250px; */
    /* background-color: red; */
    /* padding-left: 20px; */
/* } */

/* .try-li{ */
    /* width: 30%; */
    /* padding: 1px; */
    /* color: lightcoral; */
    /* text-transform: uppercase; */
    /* list-style: circle !important; */
    /* text-align: center; */
    /* margin: 10px; */
    /* background-color: red; */
/* } */
  
/* .try-li:first-child, .try-li:nth-child(4) { */
    /* width: 100%; */
    /* min-width: 100%; */
    /* padding-right: 80px; */
/* } */

/* .try-li:nth-child(7){ */
    /* min-width: 62%; */
    /* width: 62%; */
/* } */

/* .try-li:nth-child(9){
    min-width: 70%;
    width: 70%;
} */ 

/* .try-li:nth-child(10){
    min-width: 100%;
    width: 100%;
} */


/* try -2 */

/* .try{
    background-color: red;
    display: grid;
    grid-template-rows: repeat(1, 2fr);
}

.try-li{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
} */

.skills .box{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 120px 1fr ; 
    /* justify-content: center; */
    /* align-items: center; */
}

.skills .box h4{
    color: #848c90;
    font-weight: 500;
    text-transform: uppercase;
}

.skills .box .percent{
    position: relative;
    height: 8px;
    width: 100%;
    background-color: #f0f0f0;
    align-self: center;
}

.skills .box .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: lightcoral;
}

/* .percent{
    position: relative;
    width: 100%;
    height: 6px;
    background-color: #ddd;
    display: block;
    margin-top: 5px;
} */

/* .percent>div{
    
    display: block;
    margin-top: 5px;
} */

/* Donwload Button */

.button{
    display: grid;
    grid-template-columns: repeat(1, 4fr);
    padding: 0;
    text-align: center;
}

#download-btn{
    margin-top: 50px;
    background-color: lightcoral;
    color: white;
    font-size: 20px;
    font-weight: 500;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 10px; 
    cursor: pointer;
    transition: 0.6s; 
}

#download-btn:hover{
    transform: translate(-5px, -5px);  
    box-shadow: grey 10px 10px 10px;   
    transition: 0.5s;
}

#download-btn:active{
    transform: translate(2.5px, 2.5px);
    box-shadow: gray 2px 2px 1px;  
    transition: 0.25s;
}

/* Right side */

.about{
    margin-bottom: 50px;
}

.about:last-child{
    margin-bottom: 0;
}

.title2{
    color: #EA6676;
    /* color: #EF76AC; */
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

p{
    color: #000;
}

.about .box{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.about .box .year-company{
    min-width: 150px;
}

.about .box .year-company h5{
    color: #848c90;
    font-weight: 600;
    text-transform: uppercase;
}

.about .box .text h4{
    color: lightcoral;
    font-size: 16px;
}

.cert{
    margin-top: 50px;
}

.cert .text h5{
    color: #848c90;
    font-weight: 600;
    text-transform: uppercase;
}

.cert .text{
    margin: 20px 0;
}



/* Smaller devices */
@media (max-width: 1000px){
    .container{
        margin: 10px;
        grid-template-columns: repeat(1, 1fr);
    }
    .pfp-box{
        display: flex;
        justify-content: center;
        align-items: center;

    }
    #pfp{
        height: 500px;
        width: 500px;
    }
}

@media (max-width: 600px){
    .about .box{
        flex-direction: column;
    }
    .about .box .year-company{
        margin-bottom: 5px;
    }
}